/* basics */
html {
	position: relative;
    min-height: 100%;
	margin: 0px;
}

body {
    margin: 0 0 80px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
	margin-top: 12px;
}

body, html {
	padding: 0px;
	background-color:  #f5f5f5;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	padding-bottom: 25px;
}

.page-width {
	width: 1000px;
	margin: auto;
}

body > article.page-width {
	margin-top: 40px;
	background-color: transparent;
}

#main {
	margin-top: 40px;
}

p {
	margin-bottom: 14px;
	font-size: 13px;
	line-height: 20px;
	color: #555;
}

p + h1, p + h2, p + h3 {
	margin-top: 30px;
}

a {
	color: inherit;
}

.bigger {
	font-size: 30px;
}

/* headings */
h1, h2, h3 {
	font-family: 'Droid Sans', sans-serif;
	line-height: 1.5em;
}
h1 {
	color: #333;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 8px;
}

h2 {
	color: #333;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 4px;
}

h3 {
	color: #333;
	font-size: 16px;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

p, input {
	font-family: 'Open Sans', sans-serif;
}


/* definition list */
dl {
	width: 400px;
	margin-bottom: 20px;
}

	dt {
		font-weight: bold;
		display: inline-block;
		width: 80px;
	}
	
	dd {
		display: inline-block;
		width: 300px;
	}


/* lists */
ol, ul {
	padding-left: 16px;
	margin-bottom: 20px;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}


/* form */
fieldset {
	border: none;
	margin: auto;
	padding: 20px;
	width: 250px;
	
}

legend {
	font-weight: bold;
	font-size: 16px;
}

.formarea {
	border: 1px solid #e5e5e5;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.05);
	width: 340px;
	background-color: white;
	padding: 24px;
	margin: 48px auto 48px auto;
}

form label, form input {
	display: inline-block;
}

form label {
	display: block;
	margin-bottom: 4px;
}

form input, form select {
	border: 1px solid #ddd;
	margin: 0;
	height: 24px;
}

form input[type='text'], form input[type='password'], form input[type='email'] {
	width: 300px;
	padding-left: 4px;
	box-sizing: border-box;
}

form textarea {
	width: 300px;
	border: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

form input[type=text].lastname {
	text-transform: uppercase;
}

p.submit {
	text-align: right;
}

form p.error {
	color: red;
}

.primary_button {
	display: inline-block;
	margin-top: 10px;
	background-color: #6facf8;
	color: white;
/*	margin-bottom: 10px;
	margin-left: 18px;*/
	border: none;
}

div.formlink {
	text-align: center;
	margin: 0 auto;
	border-top: 1px solid #e5e5e5;
	padding-top: 18px;
}

div.formlink a {
	text-decoration: none;
	/*border-bottom: 1px black dotted;*/
	text-align: center;
	/*color: ;*/
}

div.formlink a:hover {
	text-decoration: underline;
}

.note {
	color: #95a5a6;
}

/* styling */
header {
	/*background-color: #6facf8;*/
	background: linear-gradient(to bottom, #3D91F7 0%, #6facf8 100%);
	color: white;
	height: 80px;
	/*margin-bottom: 30px;*/
	line-height: 80px;
	position: relative;
}

header h1 {
	color: #ffffff;
	line-height: 80px;
	margin: 0;
	font-size: 24px;
	display: inline-block;
}

header nav {
	float: right;
	height: 80px;
	line-height: 14px;
}

	header nav a {
		text-decoration: none;
		font-weight: bold;
		line-height: 80px;
		font-size: 14px;
	}

#logo {
	height: 60px;
	margin-top: 10px;
	float: left;
}

footer {
	height: 80px;
	background-color: white;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

	footer nav {
		height: 80px;
		line-height: 14px;
	}
	
		footer nav a {
			text-decoration: none;
			font-weight: bold;
			line-height: 80px;
			color: #6facf8;
		}


header nav > ul {
	width: 300px;
	text-align: right;
}
		
header nav > ul > li {
	display: inline-block;
	height: 80px;
	line-height: 80px;
	vertical-align: top;
	padding: 0px 20px;
	position: relative;
}

header nav > ul > li:hover {
	background-color: #073D81;
}

header nav li a {	
	font-size: 14px;
	font-weight: 200;
}

header nav > ul > li > ul {
	display: none;
	z-index: 10;
	position: absolute;
	background-color: #073D81;
	right: 0px;
	bottom: -70px;
	min-width: 150px;
}

header nav > ul > li > ul > li {
	padding: 10px 20px 10px 10px;
	line-height: 30px;
}

header nav > ul > li > ul > li a {
	line-height: 30px;
}

header nav > ul > li:hover > ul {
	display: block;
}
		
/**
drop-down
 */
.drop-down {
	background-color: transparent;
	padding: 24px;
	float: left;
	position: relative;
	z-index: 100;
	transition: background-color 0.6s;
}

.drop-down a {
	display: inline-block;
}
	.drop-down-primary {
		line-height: 40px;
	}
	
	.drop-down-item {
		opacity: 0;
		line-height: 40px;
		display: block;
		color: #6facf8;
		height: 0;
		padding-top: 20px;
	}
	
	.drop-down:hover {
		background-color: #073D81;
		padding-bottom:16px;
		color: white;
		/*border: 1px solid #6facf8;*/
	}
	
		.drop-down:hover .drop-down-item, .drop-down:hover .drop-down-primary {
			opacity: 1;
			color: #6facf8;
			height: auto;
		}
/**
clear fix
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
section div{
	margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

