<!DOCTYPE html>
<html>
	<head>
	{% include templates/stylesheets.html %}
	<link rel="stylesheet" type="text/css" href="/static/css/about.css">
	<title>About Us</title>
	</head>
	<body>
		{% include templates/header.html %}
		<article class="page-width background-box">
			<h2>What is CineMeow?</h2>
			<p>		
			CineMeow lets you watch videos with your friends, spoiler free. But what if you want to watch the same 
			video online at the same time!? CineMeow lets you do this! We are a social media site that connects you and
			your friends to a shared video page that has public synced comments and a private chat room!
			</p>
			<p>
			When you share a stream to your friends, you will all be watching the same video at the same time.
			During this video, anyone can comment on said video, and the comments will be timestamped for everyone to see.
			Comments that are timestamped will only appear at the time that they were created. No spoiler! 1337 as bro!	
			</p>
			<p>
			The CineMeow messenger is a private chat room for you and your friends. It is a dynamic chat system that 
			allows for smooth relay of messages	so that you can plan what to watch next!
			</p>
			<h2>How does CineMeow work?</h2>
			<p>
			Asking a friend to join you on an epic video watching journey is easy! All you have to do is send
			your URL to them. Once they enter that URL, they will only have to login before you link up with each other.
			</p>
			<p>
			Since we value our customers security everyone will be required to login before they can watch any videos. 
			If you have not registered, its the easiest thing to do on the site! On the login page, just click on the 
			register button underneath the login details
			</p>
		</article>
		{% include templates/footer.html %}
	</body>
</html>
