<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/static/css/core.css">
		<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
		<link rel="stylesheet" type="text/css" href="/static/css/components.css">
		<script src="../static/js/jquery-2.1.3.min.js"></script>
		<script src="../static/js/traceur.js"></script>
		<script src="../static/js/bootstrap.js"></script>
		<title>Profile</title>
		<script type="module">
					var colours = [
				"#E96E8F",
				"#95C0F8",
				"#EBE4E3"
			];
			
			function load_recent(video_list, link_list, id) {
				var loaded = 0;
				for (var i = 0; i < video_list.length; i++){
					var link = link_list[i];
					var video_id = video_list[i];
					$.getJSON('http://gdata.youtube.com/feeds/api/videos/'+link+'?v=2&alt=jsonc',
						function(i) {
							return function(data, status, xhr) {
								var className = '';
								if (loaded % 6 >= 4){
									className = 'large';
								}
								
								var colour = colours[Math.ceil(Math.random() * colours.length) - 1];
									
								$(id).append(`
								<li class="video-list-item ${className} video-thumbnail search-result">
						
								<h3 class="video-thumbnail-caption">
								${data.data.title}
								</h3>

								<a href=${"/video/"+video_id}><img class="video-thumbnail-preview" src=${data.data.thumbnail.hqDefault} /></a>
								<div class="overlay" style="background-color: ${colour}"></div>
								
								</li>`)
								loaded++;
								
								if (loaded == video_list.length) {
									$('#video-list').masonry({
									  itemSelector: '.video-list-item',
									  gutter: 0
									});
								}
							}
						}(i)
					);
				}
			}

			function start() {
				// run this function when page loads
				load_recent({% safe ids %}, {% safe links %}, "#recent");
				load_recent({% safe favourite_ids %}, {% safe favourite_links %}, "#favourite");
			}

			window.onload = start();
		</script>
	</head>
	<body>
	{% include templates/header.html %}
	<div id="main" class="page-width">
		<article class="profile">
			<div class="cf">
				<div>
					<img class="profile-avatar" src="/static/images/defaultpic.png">
					<section class="profile-biography">
						<h1 class="profile-name">{{ user.name }}</h1>
						<h2>Biography</h2>
						<p>{{ biography }}</p>
					</section>
					<div style="clear: both"></div>
				</div>
				<section style="background-color: white; border: 1px solid #e0e0e0; padding: 10px 15px; margin-top: 40px;">
					<h2>Friends</h2>
					{% for friend in friends %}
						<div style="display: inline-block; margin-right: 10px;">
					  		<div style="width: 100px; height: 100px; background-size: cover; background-image: url({{friend.pic}})"></div>
					  		<h3 style="font-size: 13px">{{friend.name}}</h3>
						</div>
					{% end %}
				</section>
				{% if response and getattr(response, "user", False) %}
				<a href="/profile/add/{{user.id}}">Add friend</a>
				{% end %}
			</div>
			<section class="video-list profile-activity">
				<section class="video-list-scroll-container">
					<ol class="video-list-items" id="recent">
<!--
						<li class="video-list-item video-thumbnail">
							
							<h3 class="video-thumbnail-caption">
							</h3>

							<video class="video-thumbnail-preview">
							</video>

						</li> -->
					</ol>
				</section>
			</section>
			<section class="video-list profile-activity">
				<h2 class="video-list-heading">Favourites</h2>
				<section class="video-list-scroll-container">
					<ol class="video-list-items" id="favourite">
<!--
						<li class="video-list-item video-thumbnail">
							
							<h3 class="video-thumbnail-caption">
							</h3>

							<video class="video-thumbnail-preview">
							</video>

						</li> -->
					</ol>
				</section>
			</section>
		</article>
	</div>
	{% include templates/footer.html %}
	</body>
</html>
