<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/static/css/core.css">
		<title>Search</title>
	</head>
		<body>
		{% include templates/header.html %}
			<h1> Search Results: </h1>
				<h2> Profiles: </h2>
				<ol> 
					<li> <img src=""> </li>
				</ol>
				<a href=""> &gt; More Profiles </a>
				<h2> Videos: </h2>
				<ol>
					<li> <img src =""> </li>
				</ol>
				<a href=""> &gt; More Videos </a>
		
		{% include templates/footer.html %}
		</body>
</html>